.days {
    justify-content: space-around;
    border: 1px solid #d9d9d9;
    border-bottom: none;
    &.single {
        justify-content: flex-start;
        .day-name {
            margin-left: 100px;
        }
    }
    .day-name {
        padding: 20px 0px;
        font-weight: 600;
    }
}
