.container-fluid{
    padding: 0px;
    margin: 0px
}
    .date{
        flex-grow:1;
        flex-basis: 14.20%;
        margin: 0px;
        border: 1px solid #e6e6e6;
        padding: 1%
    }
    .allDates{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        margin:10px;
        background-color: white;
    }
    .calenderContainer{
        background-color: #e5d1d2;
        padding: 0px;
        display: flex;
        align-items: center;
        display: flex;
        margin-bottom: 10px;
    }
    .dateRow{
        margin:10px;
        width: 100vw;
        margin:10px
    }