@media screen and (max-width: 576px) {
   .colorPickerButtonContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 7px;
   }
  }
  @media screen and (min-width: 577px) {
    .colorPickerButtonContainer{
        display: flex;
        align-items: center;
        justify-content: flex-end;
       }
   }
