.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.genericButton{
    background-color: #d9d9d9;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 35px;
    font-size: 100%;
    border-width: 0px;
    outline: 0px;
}

.genericButton:focus{
    outline: 0px;
}