.header {
    padding: 10px 30px 30px;
    justify-content: space-between;
    .app-info {
        .app-name {
            font-size: 20px;
            font-weight: 500;
        }
    }
    .month-name{
        font-size: 18px;
        font-weight: 500;
    }
    .range-picke{
        margin-right: 30px;
    }
}
