.MuiDialog-paperWidthSm-8 {
    max-width: 55vw !important;
    min-width: 35vw !important;
    min-height: 30vh !important;
    padding: 1% !important;
}
.modalTitle{
   display: flex; 
   flex-direction: column;
   justify-content: space-between;
}
.modalCloseButton{
    padding-top: 0px ;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: transparent;
    border-width: 0px;
    border-color: transparent;
}
.modalCloseButton:hover{
    padding-top: 0px ;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    outline: 0px;
    background-color: #e0e0d1;
}
.addTaskButton{
        background-color: #d9d9d9;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 35px;
        font-size: 100%;
        min-width: 110px;
        min-height: 30px;
        border-width: 0px;
}
@media only screen and (min-width: 761px) and (max-width: 1000px) {
    .MuiDialog-paperWidthSm-8 {
        max-width: 70vw !important;
        min-width: 50vw !important;
        min-height: 30vh !important;
        padding: 1% !important;
    }
}
@media only screen and (max-width: 760px) {
    .MuiDialog-paperWidthSm-8 {
        max-width: 80vw !important;
        min-width: 60vw !important;
        min-height: 30vh !important;
        padding: 1% !important;
    }
    .addTaskButton{
        background-color: #d9d9d9;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 35px;
        font-size: 90%;
        min-width: 110px;
        min-height: 30px;
        border-width: 0px;
        margin-bottom: 10px;
}
}
.icons{
    width: 32px;
    height:auto;
    padding: 0px;
     margin-bottom: 7px;
}
.modalContent{
    padding:10px;
    padding-bottom: 25px;
}
.cancelIcon{
    width: 30px;
    height:auto;
    padding: 0px;
    margin-bottom: 7px;
    margin-right: 10px;
    margin-left: 15px;
}
.okayIcon{
    width: 35px;
    height:auto;
    padding: 0px;
    margin-bottom: 7px;
    margin-left: 25px;
}