.MuiDialog-paperWidthSm-8 {
    max-width: 45vw !important;
    min-width: 30vw !important;
    min-height: 30vh !important;
    padding: 1% !important;
}
.modalTitle{
   display: flex; 
   flex-direction: column;
   justify-content: space-between;
   /* align-items: center; */
}
.modalCloseButton{
    padding-top: 0px ;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border-width: 0px;
    border-color: transparent;
}
.modalCloseButton:focus{
    outline: 0px;
}