.header{
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
    width: 100%;
}
.headerContainer{
    width: 100%;
    margin-top: 30px;
}
.monthNameContainer{
    padding: 0px;
    margin: 0px;
}
.monthName{
    color:gray
}